<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Products</title>
  <script src="/app/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/app/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/app/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/assets/css/site.css"/>
  <script type="text/javascript" src="../angular.min.js"></script>
  <script type="text/javascript" src="../shared/sharedModule.js"></script>
  <script type="text/javascript" src="productModule.js"></script>
  <script type="text/javascript" src="productService.js"></script>
    <script type="text/javascript" src="productSearchController.js"></script>
    
</head>
<body class="container" ng-app="productModule" ng-controller="productSearchController">
<div ng-include="'/app/shared/pageHeaderPartial.html'"></div>
<main class="row">
  <h1>Search for products</h1>

  <div id="searchedTerm" class="text-primary bg-primary">You're searching for '{{ searchString }}'</div>
  <span>
Enter all or part of the description: </span>
  <input ng-model="searchString" name="search" type="text" id="search">
  <button id="go" class="btn btn-primary">Search</button>
  <span>
Category:
</span>
  <select name="category" id="category">
    <option>All categories</option>
    <option>Condiments</option>
    <option>Dairy Products</option>
    <option>Beverages</option>
    <option>Grains/Cereals</option>
    <option>Confections</option>
    <option selected>Meat/Poultry</option>
    <option>Produce</option>
    <option>Seafood</option>
  </select>

  <div class="table">
    <div class="row hidden-xs">
      <div class="col-sm-2">Photo</div>
      <div class="col-sm-5">Name</div>
      <div class="col-sm-3">Quantity Per Unit</div>
      <div class="col-sm-2">Price</div>
    </div>
	<div ng-repeat="product in products |filter:searchString">
    
    <div class="row">
          <div class="col-sm-2"><a href="/app/product/productDetail.html"><img class="img-responsive" src="/assets/img/ProductImages/{{product.productID}}.jpg"></a></div>
          <div class="col-sm-5"><a href="/app/product/productDetail.html">{{product.productName}}</a></div>
          <div class="col-sm-3">{{product.quantityPerUnit}}</div>
          <div class="col-sm-2">{{product.unitPrice|currency:"US$ "}}</div>
    	</div>
    </div>

    <div class="row">
      <div class="text-success bg-success">4 products found.</div>
    </div>

  </div>
</main>

<footer class="row" ng-include="'/app/shared/pageFooterPartial.html'"></footer>
</body>

</html>