<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Products</title>
  <script src="/app/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/app/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/app/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  <script type="text/javascript" src="../angular.min.js"></script>
  <script type="text/javascript" src="productModule.js"></script>
  <script type="text/javascript" src="../shared/sharedModule.js"></script>
  <script type="text/javascript" src="../shared/categoryService.js"></script>
    <script type="text/javascript" src="productService.js"></script>
    <script type="text/javascript" src="productListController.js"></script>
    
  <link rel="stylesheet" href="/assets/css/site.css"/>
</head>
<body class="container" ng-app="productModule" ng-controller="productListController">
<div ng-include="'/app/shared/pageHeaderPartial.html'"></div>
<main class="row">
  <div>
    <h1>Browse the Product Catalog</h1>
    <span>Category:</span>
    <select name="category" id="category" ng-model="category" ng-options="category.categoryName for category in categories">
      <option>All categories</option>
    </select>
    <div class="table">
      <section class="row">

        <section>
          <h1>Meat/Poultry</h1>
          <p>Prepared meats</p>
          <div ng-repeat="product in products | limitTo:10 | filter:{categoryID: category.categoryID}:true">
              <div class="row">
                <div class="col-sm-2"><a href="/app/product/productDetail.html"><img class="img-responsive" src="/assets/img/ProductImages/{{product.productID}}.jpg"></a></div>
                <div class="col-sm-5"><a href="/app/product/productDetail.html">{{product.productName}}</a></div>
                <div class="col-sm-3">{{product.quantityPerUnit}}</div>
                <div class="col-sm-2">{{product.unitPrice|currency:"US# "}}</div>
              </div>
          </div>
        </section>
      </section>
    </div>
  </div>
</main>

<footer class="row" ng-include="'/app/shared/pageFooterPartial.html'"></footer>
</body>

</html>